
    /*  Layout  */



    #tsf-container {

        width: 340px;

        padding: 5px 0;

        font-family: open sans, sans-serif;

        margin: 0 auto;

    }



    #tsf-container textarea,

    #tsf-container input[type="text"],

    #tsf-container input[type="date"],

    #tsf-container select {

        display: block;

        margin-bottom: 10px;

        font: 16px sans-serif;

        color: rgba(0, 0, 0, 0.8);

        background-color: rgba(255, 255, 255, 0.6);

        border: solid 1px rgba(0, 0, 0, 0.4);
        
        width: 100%;
        
        padding: 6px 0;

    }


    .ts-sheets,

    .ts-labels,

    .ts-posters {

        width: 95%;

        margin: 0 auto;

        /*background-color: rgba(255, 255, 255, 0.6);*/

        clear: both;

    }


    #tsf-container input.poster-orientation,

    #tsf-container input.foam-board-type {

        display: inline;

        margin: 5px 5px 10px;

    }

    /* Interactions */

    a:link {

        text-decoration: none;

    }

    a:hover {

        cursor: pointer;

    }

    .pos-button {

        float: right;

        margin: 10px 10px 15px 0;

    }

    .add {

        border-radius: 12px;

        text-align: center;

        color: #fff;

        font-weight: bold;

        font-size: 14px;

        padding: 5px 15px;

        background-color: rgba(162, 224, 97, 0.6);

        border: solid 1px #a2e061;

    }

    .add:hover,

    .add:active {

        background-color: #a2e061;

    }

    hr {

        padding: 0;

        border: none;

        border-top: medium double #333;

        color: #333;

        margin-bottom: 30px;

    }

    
    .poster-option {
        
        padding-top: 10px;
        
        padding-bottom: 10px;
        
        text-align: center;
                
        border-top: solid 1px rgba(0, 0, 0, 0.5);

        border-right: solid 1px rgba(0, 0, 0, 0.5);
        
        border-left: solid 1px rgba(0, 0, 0, 0.5);
        
    }

    .request-new-poster {

        clear: right;

    }

    .Form2 {

        clear: right;

    }

    /*   Typography  */
    #tsf-container h1, #tsf-container h2 {
    
        text-align:center;

    }
    #tsf-container h1 {

        font-size: 30px;

        color: rgba(0, 0, 0, 0.65);

        font-weight: 300;

        /*        margin:10px;        */

    }

    #tsf-container h1 small {

        font-size: 77%;

    }

    #tsf-container h2 {

        font-weight: 700;

        font-size: 24px;

        color: rgba(0, 0, 0, 0.6);

        border-bottom: solid 1px rgba(0, 0, 0, 0.5);

        padding: 6px 10px;

        margin-bottom: 20px;

    }

    #tsf-container h2 span {

        font-weight: 500;

        font-size: 20px;
        
        text-align: left;

    }

    #tsf-container h4 {

        font-weight: 700;

        font-size: 16px;

        color: rgba(0, 0, 0, 0.6);

        border-bottom: dotted 1px black;

        padding-bottom: 5px;

        margin-bottom: 13px;

        margin-top: 30px;

        text-transform: uppercase;

    }

    #tsf-container p {

        font-size: 14px;

        font-weight: 600;

        color: rgba(0, 0, 0, 0.5);

        margin: 0 10px 20px;

    }

    #tsf-container label {

        font: bold italic 13px georgia, serif;

        color: rgba(0, 0, 0, 0.5);


    }

    /*  Form  */



    #tsf-container textarea[type="text"]:focus,

    #tsf-container input[type="text"]:focus {

        background-color: #6d6e70;

        color: #fff;

    }

    #tsf-container .button {

        padding: 10px 70px;

        border-radius: 5px;

        border: solid 1px rgba(0, 0, 0, 0.5);

        margin: 25px 85px 10px;

    }

    #tsf-container a.button:hover {

        background-color: rgba(255, 255, 255, 0.5);

    }

    /*  Colors  

    body {

        background: #b2d1e5;

        

        background: -moz-linear-gradient(top, #b2d1e5 0%, #8d8ded 100%);

        

        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2d1e5), color-stop(100%, #8d8ded));

        

        background: -webkit-linear-gradient(top, #b2d1e5 0%, #8d8ded 100%);

       

        background: -o-linear-gradient(top, #b2d1e5 0%, #8d8ded 100%);

        

        background: -ms-linear-gradient(top, #b2d1e5 0%, #8d8ded 100%);

        

        background: linear-gradient(to bottom, #b2d1e5 0%, #8d8ded 100%);

        

        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b2d1e5', endColorstr='#8d8ded', GradientType=0);

      
        

    }
*/
    .access-section {

        font-size: 14px;

        color: rgba(0, 0, 0, 0.5);

        padding: 10px 0;

        text-align: center;

        border-top: solid 1px rgba(0, 0, 0, 0.5);

        border-right: solid 1px rgba(0, 0, 0, 0.5);
        
        border-left: solid 1px rgba(0, 0, 0, 0.5);

    }

    .access-section:nth-child(even) {

        border-left: solid 1px rgba(0, 0, 0, 0.5);

    }

.access-section:last-child {
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

    .access-section:hover,

    .active {

        background-color:#ed3429;
        
        color: rgba(255, 255, 255, 0.95);

        cursor: pointer;

    }


    .form-section {

        display: none;

        background-color: rgba(255, 255, 255, 0.5);

        margin-top: 10px;

        padding-bottom: 20px;

    }

    .section {
        
        padding-bottom:20px;
    }

    .d {

        color:#ed3429;
    
    }


#poster-buttons {
    
    margin-bottom: 40px;
    
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}
